/* -- generic/aligns -- */

.vertical-center, .social-links .social-item {
   display: flex;
   align-items: center;
}

.center-align {
   display: flex;
   align-items: center;
   justify-content: center;
}

.align-row, .social-links {
   display: flex;
   flex-direction: row;
}

.align-row-rev {
   display: flex;
   flex-direction: row-reverse;
}

.align-col {
   display: flex;
   flex-direction: column;
}
