		<footer class="">
			{% if page.title == 'Home' %}
				{% include _modules/page_nav.html %}
			{% endif %}
			<div class="container-fluid pad-25 footer">
				<div class="container">
					<div class="col-xs-12">
						<div class="col-xs-12 col-sm-6 copywrite">
							<h5>&#169 2017 Talkdesk, Inc,<br class="hidden-sm hidden-md hidden-lg" /> All Rights Reserved</h5>
						</div>
						<div class="col-xs-12 col-sm-6 text-right">
							{% include _modules/social_links.html alignClass="align-row-rev" %}
						</div>
					</div>
				</div>
			</div>
		</footer>
		{% include _partials/scripts.html %}
	</body>
</html>
