<li class="container-fluid post-item pad-50 post-{{ forloop.index }}">
   <div class="container">
      <div class="col-xs-12">
         <div class="col-xs-12 col-sm-3">
            <h4 class="post-date">{{ post.date | date: "%B %-d, %Y" }}</h4>
            <h6 class="post-category pad-top-50">{{ post.category | capitalize }}</h6>
            <h6 class="post-author pad-top-10">{{ post.author }}</h6>
         </div>
         <div class="col-xs-12 col-sm-9">
            <h4 class="post-title"><strong>{{ post.title }}</strong></h4>
            <h5 class="post-excert pad-50">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</h5>
            <a class="post-link" href="{{ post.url }}">Read more</a>
         </div>
      </div>
   </div>
</li>
