/* -- _includes/modules/cat_nav.html -- */

.cat-nav {

   .nav-list {
      .nav-item {
         display: inline-block;
         box-sizing: border-box;
         width: 30%;
         padding: 0 25px 10px 0;
         &:nth-child(n+4) {
            padding-top: 20px;
         }
         .nav-link {
            display: block;
            font-size: 1.25em;
            padding-bottom: 7px;
            border-bottom: 2px solid #fff;
         }
         @for $l from 1 through length($cat_colors) {
            &:nth-child(#{$l}) {
               .nav-link {
                  color: nth($cat_colors, $l);
                  border-color: transparent;
                  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                  &.current {
                     border-color: nth($cat_colors, $l);
                  }
                  &:hover {
                     color: lightColor(nth($cat_colors, $l));
                     border-color: lightColor(nth($cat_colors, $l));
                  }
               }
            }
         }
      }
   }
}
