/* -- configs/fonts -- */

@include font-face($icon_font, "../fonts/#{$icon_font}/#{$icon_font}", $file-formats: eot svg ttf woff);

[class^="icon-"],
[class*=" icon-"] {
   font-family: $icon_font !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-fb {
   &:before {
      content: $icon_fb;
   }
}
.icon-close {
   &:before {
      content: $icon_close;
   }
}
.icon-right {
   &:before {
      content: $icon_right;
   }
}
.icon-logo {
   &:before {
      content: $icon_logo;
   }
}
.icon-in {
   &:before {
      content: $icon_in;
   }
}
.icon-menu {
   &:before {
      content: $icon_menu;
   }
}
.icon-search {
   &:before {
      content: $icon_search;
   }
}
.icon-tw {
   &:before {
      content: $icon_tw;
   }
}
