/* -- configs/variables -- */

$px: px;
$percent: '%';

$tint: 20%;
$color_content: #fff;
$color_primary: #252930;
$color_secondary: #1e2127;
$post_colors: #5f9389, #599c72, #28c7e9, #a03535, #75618c, #97934c;
$cat_colors: #599c72, #a03535, $color_content, #97934c, #28c7e9;


$posts_length: 100;

$primary_font: 'Space Mono';
$text_font: 'Roboto Slab';
$icon_font: 'icomoon';

$icon_fb: "\e900";
$icon_close: "\e902";
$icon_right: "\e901";
$icon_logo: "\e903";
$icon_in: "\e904";
$icon_menu: "\e905";
$icon_search: "\e906";
$icon_tw: "\e907";
