// variables
$tint: 20%;
$color_content: #fff;
$color_primary: #252930;
$color_secondary: #1e2127;
$post_colors: #5f9389, #599c72, #28c7e9, #a03535, #75618c, #97934c;

$px: px;
$percent: '%';
$posts_length: 100;

$primary_font: 'Space Mono';
$text_font: 'Roboto Slab';
