---
layout: default
---

      <div class="container-fluid post-page pad-50">
         <div class="container">
            <div class="col-xs-12">
               <div class="col-xs-12 col-sm-4">
                  <div class="col-xs-12 no-pad">
                     <h4 class="post-date">{{ page.date | date: "%B %-d, %Y" }}</h4>
                     <h6 class="post-category pad-top-50">{{ page.category  | capitalize }}</h6>
                     <h6 class="post-author pad-top-10">{{ page.author }}</h6>
                     <h6 class="post-author pad-top-10">{{ page.meta }}</h6>
                  </div>
                  <div class="col-xs-12 pad-50 hidden-xs hidden-sm">
                     <h6 class="pad-bottom-10">Share Article</h6>
                     {% include _modules/social_links.html %}
                  </div>
               </div>
               <div class="col-xs-12 col-sm-8">
                  <div class="col-xs-12 no-pad">
                     <h4 class="post-title"><strong>{{ page.title }}</strong></h4>
                     <h5 class="post-excert pad-50">{{ page.content | remove: '<p>' | remove: '</p>' }}</h5>
                  </div>
                  <div class="col-xs-12 pad-50 author-box">
                     <div class="col-xs-4 col-sm-2 col-sm-push-1 col-md-push-2">
                        <img class="author-foto" src="{{ base }}/images/authors/{{ page.author_photo }}" alt="{{ page.author }}">
                     </div>
                     <div class="col-xs-8 col-xs-push-1 col-sm-7 col-sm-push-2 col-md-push-2 pad-left-25 author-meta">
                        <h6><strong>{{ page.author }}</strong></h6>
                        <h6>{{ page.author_meta }}</h6>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 pad-top-50 pad-left-30 hidden-md hidden-lg">
               <h6 class="pad-bottom-10">Share Article</h6>
               {% include _modules/social_links.html %}
            </div>
         </div>
      </div>
